
body {
  background-color: #0a0a23;
}

#game, #welcome {
  margin: 30px auto 0;
  padding: 10px;
  background-color: #ffffff;
  max-width: 500px;
  max-height: 400px;
}
#game {
  display: none;
}

#controls, #stats {
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #0a0a23;
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

#text {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  border: 3px solid #feac32;
  background-image: linear-gradient(180deg, #fecc4c, #ffac33);
}

.stat {
  padding-right: 10px;
}

